#header {    
    padding: 1em;
    color: $main-white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#menu { 
    font-size: 1.5em;
    color: $main-white;
    position: relative;
    left: .9em;
    border: none;
    cursor: pointer;  
    display: flex;
    align-items: center;


}

#logo {
    display: flex;
    align-items: center;
}

#z-logo {
    font-size: 2em;
    font-family: 'Playfair Display', sans-serif;
 
}

#moon {
    font-size: 1.5em;

}

//when drop down is selected, logo and hamburger should be set to display: none
#mobile-drop-down {
    border-radius: 3px;
    z-index: 99;
    height: 500px;
    width: 100vw;
    display: none;
    border: 5px solid green;
    background-color: $lt-blue;
    font-family: $body;


 ul {
        width: auto;
        margin-top: 6em;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        text-align: center;

        li {
            display: block;
            margin: 1.5em auto;    
            font-size: 1.5em;  
            border: 3px solid blue;   
        }
    }
    
}

#close-btn {
    border: 5px solid goldenrod;
    color: $main-white;
    float: right;
    font-size: 1.4em;
    cursor: pointer;
    }



