@keyframes dropIn {
  0% {
    -webkit-transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

#header {
  padding: 1em;
  color: $main-white;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu {
  position: relative;
  font-size: 2em;
  color: $main-white;
  left: 0.9em;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  visibility: visible;
}

#logo {
  display: flex;
  align-items: center;
}

#z-logo {
  font-size: 2.2em;
  font-family: "Playfair Display", sans-serif;
}

#moon {
  font-size: 1.5em;
  animation: dropIn 3s ease-in-out;
  animation-iteration-count: 1;
  color: $pink;
  font-weight: bold;
}

.hover:hover {
  color: $pink;
  transition: ease-in-out 0.2s;
}

//when drop down is selected, logo and hamburger should be set to display: none
#mobile-drop-down {
  border-radius: 3px;
  position: relative;
  height: 400px;
  width: 100vw;
  display: none;
  margin: 0 auto;
  font-family: $body;
  z-index: 99;
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  -ms-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
  background: linear-gradient(
    to bottom,
    rgba(33, 101, 120, 0.9) 0%,
    rgba(33, 101, 120, 0.3) 100%
  );

  ul {
    margin-top: 6em;
    list-style-type: none;
    text-align: center;

    li {
      font-size: 2em;
      margin: 2em auto;
      width: 30vw;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#close-btn {
  border: none;
  color: $main-white;
  float: right;
  font-size: 2em;
  cursor: pointer;
}

#close-btn:hover {
  color: $pink;
}

@media screen and (min-width: 1000px) {
  #logo {
    font-size: 1.6em;
  }

  #menu {
    font-size: 2.2em;
  }
}
