#header {    
    padding: 1em;
    color: $main-white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#menu { 
    font-size: 1.5em;
    color: $main-white;
    position: relative;
    left: .9em;
    border: none;
    cursor: pointer;  
    display: flex;
    align-items: center;


}

#logo {
    display: flex;
    align-items: center;
}

#z-logo {
    font-size: 2em;
    font-family: 'Playfair Display', sans-serif;
 
}

#moon {
    font-size: 1.5em;

}

