#projects {
    height: auto;
    font-family: $body;
    display: flex;
   
}

.container {
    flex-direction: column;
}

img {
    height: inherit;
    width: inherit;
}

#more {
    display: flex;
    align-items: center;
    justify-content: center;
}

