#projects {
    height: auto;
    font-family: $body;
    display: flex;
   
}

.container {
    flex-direction: column;
}

.project-images {
    height: inherit;
    width: inherit;
}


#more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    z-index: 1;
    position: relative;
        span {
        font-size: 2em;
    }
}

.hover-desc {
    box-sizing: border-box;
    padding: 0 1em;
    color: $main-white;
    position: absolute;
    line-height: 1.3em;
    top: 16px;
    left: 16px;
    height: inherit;
    width: inherit;
    z-index:2; /*top level*/
    opacity:0; /*hidden in normal state*/
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
    background: linear-gradient(to bottom, rgba(33,101,120,.9) 0%,rgba(33,101,120,.9) 100%);

}

.hover-desc > p {
    
    text-align: left;
    font-size: .9em;

}

.card:hover > .hover-desc {
    opacity: 1
}

.github-link a {
    font-size: .7em;
    color: $pink;
}

//tab for the project description
.tab2 {
    display: inline-block;
    width: .5em;

}

@media screen and (min-width: 768px){
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

