#projects {
    height: auto;
    font-family: $body;
    display: flex;
   
}

.container {
    flex-direction: column;
}

.project-images {
    height: inherit;
    width: inherit;
}


#more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    cursor:pointer;
        span {
        font-size: 2em;
    }
}

//Hoverable div that explains the project (not working currently)
// .hover-desc {
//     display: none;
//     z-index: 99;   
//     position: relative;
//     height: inherit;
//     width: inherit;
//     background: linear-gradient(to bottom, rgba(0,0,0,.6) 0%,rgba(0,0,0,.6) 100%);

// }


@media screen and (min-width: 768px){
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

