#splash {
    background: linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,0) 100%),url('../../assets/splash.jpg'); 
    -webkit-clip-path: circle(90.7% at 50% 5%);
clip-path: circle(95.7% at 50% 5%);
    background-size: cover;
    background-repeat: no-repeat;   
    height: 100vh;
    color: $main-white;
    
}

#hero-container {
    margin-top: 2.5em;
    font-size: 1.5em;

    #hero {
        font-family: $heading;
    }
}

@keyframes bounce {
    0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-15px); }
    80% { -webkit-transform: translateY(-10px); }
}

#down-arrow {
    position: absolute;
    text-align: center;
    margin-top: 3em;
    border: none;
    font-size: 1em;
    color: $pink;
    cursor: pointer;
    animation: bounce 4s infinite ease-in-out;   
}


//MEDIA QUERIES 
@media screen and (min-width: 400px){
    #hero-container {
    font-size: 2em;
    }
}

@media screen and (min-width: 630px){
    #splash {
        clip-path: none;
        
    }
    #down-arrow {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 768px){
    #hero-container {
        font-size: 2.2em;
    }
}



@media screen and (min-width: 1000px){
    #hero-container {
        font-size: 2.5em;
    }
}
